{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/transform-runtime"],
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}
